*{
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;   
}

body {
  position: relative;
}

.noScroll{
  overflow: hidden;
}

.modalContentM {
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 110%;
  width: 100vw;
  margin: -20px 0 50px;
}

.modalContentM.disebled_ {
  
  pointer-events: none;
  opacity: 0;
  z-index: 0;
}

.modalContentM.initial_disabled {
  pointer-events: none;
  animation: disabled 0.6s;
  opacity: 0;
  z-index: 0;
}

@keyframes disabled {
  from {
    opacity: 1;
    z-index: 5;
  }
  to {
    opacity: 0;
    z-index: 0;
  }
}

.modalContentM.action_look {
  pointer-events: all;
  animation: look 0.6s;
  opacity: 1;
  z-index: 5;
}
@keyframes look {
  from {
    opacity: 0;
    z-index: 0;
  }
  to {
    opacity: 1;
    z-index: 5;
  }
}

.modalContentM h2 {
  font-weight: bold;
  margin: 0;
}

.modalContentM p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.modalContentM span {
  font-size: 12px;
}

.modalContentM a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.modalContentM button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.modalContentM button:active {
  transform: scale(0.95);
}

.modalContentM button:focus {
  outline: none;
}

.modalContentM button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.modalContentM form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.modalContentM input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.containerM {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-containerM {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;

  & #logC {
    z-index: 5;
    position: absolute;
    font-size: 25px;
    top: 0;
    right: 25px;
    font-weight: bold;
    color: black;
    cursor: pointer;
  }
  & #logCd {
    z-index: 5;
    position: absolute;
    font-size: 25px;
    top: 0;
    right: 25px;
    font-weight: bold;
    color: black;
    cursor: pointer;
  }
}

.sign-in-containerM {
  left: 0;
  width: 50%;
  z-index: 2;
}

.containerM.right-panel-activeM .sign-in-containerM {
  transform: translateX(100%);
}

.sign-up-containerM {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
  & form button{
  margin-top: 5px;
  }
}

.containerM.right-panel-activeM .sign-up-containerM {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-containerM {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.containerM.right-panel-activeM .overlay-containerM {
  transform: translateX(-100%);
}

.overlayM {
  background: #fc9779;
  background: -webkit-linear-gradient(to right, #ff5e42, #fc9779);
  background: linear-gradient(to right, #ff5e42, #fc9779);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.containerM.right-panel-activeM .overlayM {
  transform: translateX(50%);
}

.overlay-panelM {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-leftM {
  transform: translateX(-20%);
}

.containerM.right-panel-activeM .overlay-leftM {
  transform: translateX(0);
}

.overlay-rightM {
  right: 0;
  transform: translateX(0);
}

.containerM.right-panel-activeM .overlay-rightM {
  transform: translateX(20%);
}
